<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost" />
		<section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core" />
	</configSections>

	<Installer>
		<ShortName>V1Svn</ShortName>
		<LongName>VersionOne Subversion Integration Service</LongName>
	</Installer>

	<Services>

		<!-- Listen for LogMessage events and log them to the console -->
		<ConsoleLogService class="VersionOne.ServiceHost.Logging.ConsoleLogService, VersionOne.ServiceHost.Core" />

		<!-- 
			Listen for LogMessage events and log them to a file 
			Point LogFile to file to write
		-->
		<FileLogService class="VersionOne.ServiceHost.Logging.FileLogService, VersionOne.ServiceHost.Core">
			<LogFile>.\ServiceHost.log</LogFile>
		</FileLogService>

		<!-- Timer that flushes Profile periodically -->
		<ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
			<Interval>10000</Interval>
			<PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
		</ProfileFlushTimer>

		<SvnReaderService class="VersionOne.ServiceHost.SourceServices.Subversion.SvnReaderHostedService, VersionOne.ServiceHost.SourceServices.Subversion" >
			<RepositoryPath>svn://MySourceControlServer/MyRepo</RepositoryPath>
			<!--<UserName></UserName>
			<Password></Password>-->
			<!-- 
				=== Sample Regexes ===
				To Match S-01001 (Matches "S-01001"):					[A-Z]{1,2}-[0-9]+
				To match #Reference (matches only "Reference"):			(?<=#)[a-zA-Z]+\b
				To match "V1:Reference"  (matches only "Reference"):	(?<=V1:)[a-zA-Z]+\b
			-->
			<ReferenceExpression><![CDATA[[A-Z]{1,2}-[0-9]+]]></ReferenceExpression>
		</SvnReaderService>
		<SvnReaderServiceTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
			<Interval>60000</Interval>
			<PublishClass>VersionOne.ServiceHost.SourceServices.Subversion.SvnReaderHostedService+SvnReaderIntervalSync, VersionOne.ServiceHost.SourceServices.Subversion</PublishClass>
		</SvnReaderServiceTimer>

		<ChangeSetWriterService class="VersionOne.ServiceHost.SourceServices.ChangeSetWriterService, VersionOne.ServiceHost.SourceServices">
			<Settings>
				<ApplicationUrl>http://localhost/VersionOne/</ApplicationUrl>
				<Username>admin</Username>
				<Password>admin</Password>
				<APIVersion>6.5.0.0</APIVersion>
				<IntegratedAuth>false</IntegratedAuth>
			</Settings>
			<ReferenceAttribute>Number</ReferenceAttribute>
			<ChangeComment>Updated by VersionOne.ServiceHost</ChangeComment>
			<Link>
				<Name>ChangeSet: {0}</Name>
				<URL>http://MySourceControlServer/subversion/viewvc.cgi?view=rev&amp;revision={0}</URL>
				<OnMenu>True</OnMenu>
			</Link>
			<AlwaysCreate>false</AlwaysCreate>
		</ChangeSetWriterService>
	
	</Services>

</configuration>