<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost" />
		<section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core" />
	</configSections>

	<Installer>
		<ShortName>V1Svn</ShortName>
		<LongName>VersionOne Subversion Integration Service</LongName>
	</Installer>

	<Services>

		<!-- Listen for LogMessage events and log them to the console -->
		<ConsoleLogService class="VersionOne.ServiceHost.Logging.ConsoleLogService, VersionOne.ServiceHost.Core" />

		<!-- 
			Listen for LogMessage events and log them to a file 
			Point LogFile to file to write
		-->
		<FileLogService class="VersionOne.ServiceHost.Logging.FileLogService, VersionOne.ServiceHost.Core">
			<LogFile>.\ServiceHost.log</LogFile>
		</FileLogService>

		<!-- Timer that flushes Profile periodically -->
		<ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
			<Interval>10000</Interval>
			<PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
		</ProfileFlushTimer>

		<!-- ============================================================================================================== -->
	<SvnReaderService_svn_repos_one class="VersionOne.ServiceHost.SourceServices.Subversion.SvnReaderHostedService, VersionOne.ServiceHost.SourceServices.Subversion" >
			<RepositoryServer>https://example.com</RepositoryServer>
			<RepositoryPath>/svn/repos_one</RepositoryPath>
			<ReferenceUrl>https://example.com/trac/repos_one/changeset/{0}</ReferenceUrl>
			<ReposName>REPOS_ONE</ReposName>
			<ReferenceExpression><![CDATA[[A-Z]{1,2}-[0-9]+]]></ReferenceExpression>
		</SvnReaderService_svn_repos_one>

		<!-- ============================================================================================================== -->
    <SvnReaderService_svn_repos_two class="VersionOne.ServiceHost.SourceServices.Subversion.SvnReaderHostedService, VersionOne.ServiceHost.SourceServices.Subversion" >
      <RepositoryServer>https://example.com</RepositoryServer>
      <RepositoryPath>/svn/repos_two</RepositoryPath>
      <ReferenceUrl>https://example.com/trac/repos_two/changeset/{0}</ReferenceUrl>
      <ReposName>REPOS_TWO</ReposName>
      <ReferenceExpression><![CDATA[[A-Z]{1,2}-[0-9]+]]></ReferenceExpression>
      </SvnReaderService_svn_repos_two>

		<!-- ============================================================================================================== -->
		<SvnReaderServiceTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
			<Interval>60000</Interval>
			<PublishClass>VersionOne.ServiceHost.SourceServices.Subversion.SvnReaderHostedService+SvnReaderIntervalSync, VersionOne.ServiceHost.SourceServices.Subversion</PublishClass>
		</SvnReaderServiceTimer>

		<!-- ============================================================================================================== -->
		<ChangeSetWriterService class="VersionOne.ServiceHost.SourceServices.ChangeSetWriterService, VersionOne.ServiceHost.SourceServices">
			<Settings>
				<ApplicationUrl>https://www.v1host.com/ExampleDotCome</ApplicationUrl>
				<Username></Username>
				<Password></Password>
				<APIVersion>6.5.0.0</APIVersion>
				<IntegratedAuth>false</IntegratedAuth>
			</Settings>
			<ReferenceAttribute>Number</ReferenceAttribute>
			<ChangeComment>Updated by VersionOne.ServiceHost</ChangeComment>
			<Link>
				<Name>ChangeSet: {0}</Name>
				<OnMenu>True</OnMenu>
			</Link>
			<AlwaysCreate>false</AlwaysCreate>
		</ChangeSetWriterService>
	
	</Services>

</configuration>